.navBar {
  background:red;
  display: flex;
}
.navBar__container {
  display: flex;
}
body {
    background: lightblue;
  }
h1 {
    color: brown;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h2 {
  color: brown;
  margin: auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button {
  color: red;
  text-align: center;
  margin: auto;
}
p {
  text-align: center;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: auto;
}
div {
  text-align: center;
}
script {
  color: brown;
}
li {
  color: violet;
  
}

